div.highlighter-rouge {
  margin: 0;
}

.main-content {
  h3 {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

p {
  margin: 0;
  margin-bottom: 1em;
  margin-top: 1em;
  
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul.tab, ul.tab-content {
  border: solid 1px #eeebee;
  margin: 0;
  
  li {
    margin: 0;
    
    &:before {
      display: none;
    }
  }
}

ul.tab {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;

  li {
    margin: 0;
    margin-bottom: -1px;
    border-bottom: solid 2px transparent;

    a {
      cursor: default;
      padding: 1.0em 1.5em;
      background: none;
      border: none;
      display: block;
      color: #7253ed;
      text-decoration: none;
    }
    
    &.active {
      border-bottom-color: #1e87f0;

      a {
        color:#222;
      }
    }
  }
}

ul.tab-content {
  border-top: none;
  padding: 1.5em 1.5em;
  
  > li {
    display: none;

    &.active {
      display: block;
    }
  }
}